# Frontend code
/src/ @MutiatBash @Noimot

# Backend code
/backend/ @MutiatBash @Noimot

# GitHub config
.github/ @MutiatBash @Noimot 

# Everything Documentation / Content 
/resources/ @Mayaleeeee @miracle-E
/public/ @Mayaleeeee @miracle-E @MutiatBash @Noimot
/README.md @Mayaleeeee @miracle-E @MutiatBash @Noimot
/CODE_OF_CONDUCT.md @Mayaleeeee @miracle-E @MutiatBash @Noimot
/Roadmap.md @Mayaleeeee @miracle-E @MutiatBash @Noimot

