# Frontend code
/src/ @MutiatBash @Noimot

# Backend code
/backend/ @MutiatBash @Noimot

# Documentation / Content
/resources/ @Mayaleeeee @miracle-E

# GitHub config
.github/ @MutiatBash @Noimot @Mayaleeeee @miracle-E

# Everything else
*  @MutiatBash @Noimot @Mayaleeeee @miracle-E
