# Frontend code
/src/ @MutiatBash @Noimot @Mayaleeeee

# Backend code
/backend/ @MutiatBash @Noimot @Mayaleeeee

# GitHub config
.github/ @MutiatBash @Noimot @Mayaleeeee

# Everything Documentation / Content 
/resources/ @Mayaleeeee @miracle-E @MutiatBash @Noimot
/public/ @Mayaleeeee @miracle-E @MutiatBash @Noimot
*.md @Mayaleeeee @miracle-E @MutiatBash @Noimot

