@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Montserrat', sans-serif;
}

.loader {
  border-top-color: #AEDFF4;
  animation: spin 1s infinite linear;
}

.scrollable-container {
    height: 30rem; 
    overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
    width: 8px; 
}

.scrollable-container::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 0, 0, 0.5);  */
    background-color: #0C9EDD; 
    border-radius: 4px; 
    height: 50px; 
}

.scrollable-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .navbar {
   width: 100% !important;
   overflow: hidden;
  }
}

/* @layer components {
  .mobile-cont {
    max-width:768px;
    text-align: center;
    justify-content: center;

  }

  .mobile-header {
    font-size: 30px;
    text-align: center;
  }

} */

@media ( max-width:768px) {
    .mobile-cont {
    max-width:768px;
    text-align: center;
    justify-content: center;

  }

    .mobile-header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .technical-writer {
    width: 95% !important;
    text-align: center;
    justify-content: center;
  }

  .technical-list {
    width: 89% !important;
  }

  .technical-role {
    padding-top: 30px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    line-height: 45px;
  }

  .youtube-text {
    width: 95%;
  }

  .mobile-previous {
    margin-left: 13px;
  }

  .mobile-next {
    margin-right: 13px;
  }

  .mobile-next, .mobile-previous {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contribute-role {
    width: 95% !important;
  }
}
